<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicSheetManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MusicSheetManager.Properties.Setting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MusicSheetManager.Properties.Settings>
            <setting name="IronOcrLicenseKey" serializeAs="String">
                <value>IRONOCR.NIKLAUSBURREN.IRO241225.6478.80119-B3EA881ED6-AOEKVM2UMK26RB6-WFJQ7HRA7NLU-GLBNIUZMSVGW-ONVDYJCGEM3S-S5MEJNZLH2TT-MUODCE-LXFIWUBTRCOQUA-IRONOCR.DOTNET.LITE.SUB-W5GDZK.RENEW.SUPPORT.25.DEC.2025</value>
            </setting>
            <setting name="CollapsedInstrumentGroups" serializeAs="String">
                <value />
            </setting>
        </MusicSheetManager.Properties.Settings>
        <MusicSheetManager.Properties.Setting>
            <setting name="IronOcrLicenseKey" serializeAs="String">
                <value>IRONOCR.NIKLAUSBURREN.IRO241225.6478.80119-B3EA881ED6-AOEKVM2UMK26RB6-WFJQ7HRA7NLU-GLBNIUZMSVGW-ONVDYJCGEM3S-S5MEJNZLH2TT-MUODCE-LXFIWUBTRCOQUA-IRONOCR.DOTNET.LITE.SUB-W5GDZK.RENEW.SUPPORT.25.DEC.2025</value>
            </setting>
        </MusicSheetManager.Properties.Setting>
    </userSettings>
</configuration>